{% extends 'base.html.twig' %}


{% block body %}
<section ng-controller="mailbundleCtrl">
<h3>Mail N°{{uid_mail}} :</h3>
{% autoescape false %}{{ sMail }}{% endautoescape %}
</section>

<script>
	var ngApp = angular.module('ngApp', []);

	ngApp.controller('mailbundleCtrl', function ($scope) {
	});

</script>

{% endblock %}
